li a,
.navbar-nav .btn {
    /* background-color: #296F56;
    border-radius: 30%; */
    color: white !important;
}

li a:hover,
.navbar-nav .btn:hover {
    color: black !important;
    /* border: 1px solid white; */
}

.navbar-nav .active {
    color: black !important;
    background-color: rgb(161, 156, 156) !important;
}

.navbar-nav .dropdown .dropdown-item .active {
    background-color: rgb(161, 156, 156) !important;
    /* color: black !important; */
}