<div class="row fixed-top mx-1">
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: rgb(161, 156, 156);">

        <a class="navbar-brand" [routerLink]="['']" routerLinkActive="active">
            <img src="../assets/weadoLogo-Croped.png" class="logoImg" style="max-height: 40px;" alt="weadoLogo" srcset="">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="offcanvas offcanvas-start" style="width: 60%;" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
                    <img src="../assets/weadoLogo-Croped.png" [routerLink]="['']" data-bs-dismiss="offcanvas" routerLinkActive="active" class="logoImg" style="max-height: 60px; width: 60px;" alt="weadoLogo" srcset="">
                </h5>
                <button type="button" class="btn-close" style="background-color: white;" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body text-center" style="justify-content: space-between;">
                <ul class="navbar-nav">
                    <!-- <li class="nav-item">
                          <a class="nav-link active text-black" aria-current="page" href="#" data-bs-dismiss="offcanvas">
                              <i class="fa fa-home"></i>
                          </a>
                      </li> -->
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['about']" routerLinkActive="active" data-bs-dismiss="offcanvas">
                            <i class="fa fa-info-circle"></i> ABOUT WEADO
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['projects', currentYear]" routerLinkActive="active" data-bs-dismiss="offcanvas">
                            <i class="fa fa-tasks"></i> PROJECTS
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['contacts']" routerLinkActive="active" data-bs-dismiss="offcanvas">
                            <i class="fa fa-mobile-alt"></i> CONTACTS
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    <li class="dropdown nav-item" *ngIf="isLoggedIn()">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fa fa-user-edit"></i> {{getUserName()}}
                      </button>
                        <ul class="dropdown-menu dropdown-menu-end" style="background-color: rgb(161, 156, 156);" aria-labelledby="dropdownMenuButton1">
                            <li class="dropdown nav-item">
                                <button class="btn dropdown-item" [routerLink]="['/admin/manage']" routerLinkActive="active" data-bs-dismiss="offcanvas">
                                  <i class="fa fa-user-"></i> Admin Panel
                                </button>
                            </li>
                            <li *ngIf="isLoggedIn()">
                                <a class="dropdown-item" (click)="removeUser()" href="#" data-bs-dismiss="offcanvas">
                                    <i class="fa fa-sign-out-alt"></i> Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item" *ngIf="!isLoggedIn()">
                        <a class="nav-link" [routerLink]="['/admin/login']" routerLinkActive="active" data-bs-dismiss="offcanvas">
                            <i class="fa fa-sign-in-alt"></i> Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="row" style="margin-top: 68px;">
    <router-outlet></router-outlet>
</div>
<div class="row">
    <footer class="col-12 card-header mt-3 border-top text-center">
        Copyright &copy; WEADO <br> 2023
    </footer>
</div>

<!-- <span><i class="fa fa-envelope-square"></i> Email: weado2014@gmail.com</span>
        <span>P.O.BOX 807 SHINYANGA</span> <span><i class="fa fa-phone"></i>: +255754572677</span>
        <span><i class="fa fa-location-arrow"></i>: Matata Road, Mwasele Area, House No 05</span> -->
