<div class="card col-12">
    <div class="card-body">
        <h5 class="card-header text-center">ABOUT WEADO</h5>
        <p class="card-text">
            The women, elderly, advocacy and development organisation (WEADO) is Non-Partisan, Non-religious, non-profit and Non-Governmental Organisation (NGO) geared at improving sustainably the social-economic wellbeing of children, women and older persons. It
            was elected to serve all community members, regardless of their age.
        </p>
        <p class="card-text">
            WEADO is dedicated to the promition and empowerment of an inclusive society where women, children and older older persons actualize their potential and live fulfilled lives. The organisation strives to enhence economic empowerment, justice, peace, health,
            human rights, security, human dignity, freedom and a sustainable enviroment for all people. WEADO is committed to the empowerment of the community especially children, women and youth to realize their potential as human beings and to contribute
            to a just society through rights through rights and innovative sustainable interventions.
        </p>
    </div>
</div>
