<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/build/styles.f1c6f4676cb4b108.css' />
  </head>
  <body>
    <weado-root></weado-root>
    <script src="/build/main.b89ec88e01ff919b.js"></script>
    <script src="/build/polyfills.3ea6376a2d357a0c.js"></script>
    <script src="/build/runtime.72b01f5acc13233e.js"></script>
  </body>
</html>
