<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <span>WEADO ADDRESS</span>
                <button class="btn btn-sm" (click)="messageDialog()">Leave a Message</button>
            </div>
            <div class="card-body">
                <h5 class="card-title">P.O.BOX 807 SHINYANGA</h5>
                <div class="card-text d-flex justify-content-between">
                    <section>
                        <h6><i class="fa fa-phone"></i> +255754572677</h6>
                        <h6><i class="fa fa-mail-bulk"></i> weado2014&#64;gmail.com</h6>
                        <h6><i class="fa fa-search-location"></i> Matata Road, Mwasele Area, House no 06</h6>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <h5 class="text-decoration-underline text-center">Messages</h5>
    <div class="col-12">
        <div class="card  m-1 p-0 border-1" *ngFor="let message of messages | async">
            <div class="card-body m-0 p-0 ">
                <small class="card-header m-0 p-0 d-flex justify-content-between">
                    <span>{{message.name}}</span>
                    <span>{{message.email}}</span>
                </small>
                <p class="card-text">
                    {{message.text}}
                </p>
            </div>
            <div class="m-0 p-0 text-end">
                {{message.createdOn | date}}
            </div>
        </div>
    </div>
</div>