<div class="row align-content-md-center">
    <div class="col-md-4"></div>

    <form class="col-md-4" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div>
            <h3 mat-dialog-title class="d-flex justify-content-center">
                <img src="/assets/login.PNG" class="brand_logo" alt="Logo" height="75px" width="75px">
            </h3>
            <!-- <h4>
                bado haujasajili? Tafadhali
                <a routerLink="/admin/register">sajili</a>
            </h4> -->
        </div>
        <div class="mb-1">
            <label for="Name" class="form-label"><i class="fa fa-user"></i> Name</label>
            <input type="text" name="Name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required placeholder="Name">
        </div>
        <div class="mb-1">
            <label for="password" class="form-label"><i class="fa fa-passport"></i> Password</label>
            <input type="password" autocomplete="" name="password" #password="ngModel" [(ngModel)]="user.password" required class="form-control" placeholder="Nenosiri">
        </div>
        <button type="submit" class="btn float-end text-white" style="background-color: rgb(161, 156, 156);">
          <i class="fa fa-lock-open"></i> Login!
        </button>
    </form>
</div>
