<div class="col-12" *ngFor="let project of projects">
    <div class="card">
        <div class="card-header">
            {{project.date | date}}
        </div>
        <div class="card-body">
            <h5 class="card-header">{{project.title}}</h5>
            <div class="card-text d-flex justify-content-between">
                <section>
                    <h5 class="card-title">Project Content</h5>
                    {{project.summary}}
                </section>
                <section *ngFor="let report of project.reportsId">
                    <h5 class="card-title">Project Reports</h5>
                    <p>{{report.originalname}}</p>
                </section>
            </div>
        </div>
    </div>
</div>
