<div class="col-12" *ngFor="let project of projects">
    <div class="card">
        <h5 class="card-header">
            {{project.title}}
        </h5>
        <div class="card-body">
            <div class="card-text">
                <section>
                    <h5 class="card-title">Duration</h5>
                    <p>Start: {{project.date | date}}</p>
                    <p>End: </p>
                    <p>Activities {{project.activities.length}}</p>
                </section>
                <section>
                    <h5 class="card-title">Author</h5>
                    <p *ngFor="let author of project.author">
                        {{author}}
                    </p>
                </section>
                <section>
                    <h5 class="card-title">Summary</h5>
                    {{project.summary}}
                </section>
                <h5 class="card-title">Project Reports</h5>
                <section *ngFor="let report of reports | sortReport: project; let i=index;">
                    <p>{{i+1}}. {{report.title}}</p>
                </section>
            </div>
        </div>
    </div>
</div>