<div class="col-12">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../assets/imgs/1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../../assets/imgs/2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../../assets/imgs/3.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
    </div>
</div>

<div class="">
    <div class="card col-12 my-1">
        <div class="card-header text-center">
            OUR ACTIVITY
        </div>
        <div class="card-body">
            <h5 class="card-title">title</h5>
            <div class="card-text">
                WEADO is dedicated to the promition and empowerment of an inclusive society where women, children and older older persons actualize their potential and live fulfilled lives. The organisation strives to enhence economic empowerment, justice, peace, health,
                human rights, security, human dignity, freedom and a sustainable enviroment for all people. WEADO is committed to the empowerment of the community especially children, women and youth to realize their potential as human beings and to contribute
                to a just society through rights through rights and innovative sustainable interventions.
            </div>
        </div>
    </div>
    <div class="card col-12 my-1">
        <div class="card-header text-center">
            UPCOMING EVENTS
        </div>
        <div class="card-body">
            <h5 class="card-title">title</h5>
            <div class="card-text">
                WEADO is dedicated to the promition and empowerment of an inclusive society where women, children and older older persons actualize their potential and live fulfilled lives. The organisation strives to enhence economic empowerment, justice, peace, health,
                human rights, security, human dignity, freedom and a sustainable enviroment for all people. WEADO is committed to the empowerment of the community especially children, women and youth to realize their potential as human beings and to contribute
                to a just society through rights through rights and innovative sustainable interventions.
            </div>
        </div>
    </div>
    <div class="card col-12 my-1">
        <div class="card-header text-center">
            FEATURED DONORS
        </div>
        <div class="card-body">
            <h5 class="card-title">title</h5>
            <div class="card-text">
                WEADO is dedicated to the promition and empowerment of an inclusive society where women, children and older older persons actualize their potential and live fulfilled lives. The organisation strives to enhence economic empowerment, justice, peace, health,
                human rights, security, human dignity, freedom and a sustainable enviroment for all people. WEADO is committed to the empowerment of the community especially children, women and youth to realize their potential as human beings and to contribute
                to a just society through rights through rights and innovative sustainable interventions.
            </div>
        </div>
    </div>
    <div class="card col-12 my-1">
        <div class="card-header text-center">
            LATEST NEWS
        </div>
        <div class="card-body">
            <h5 class="card-title">title</h5>
            <div class="card-text">
                WEADO is dedicated to the promition and empowerment of an inclusive society where women, children and older older persons actualize their potential and live fulfilled lives. The organisation strives to enhence economic empowerment, justice, peace, health,
                human rights, security, human dignity, freedom and a sustainable enviroment for all people. WEADO is committed to the empowerment of the community especially children, women and youth to realize their potential as human beings and to contribute
                to a just society through rights through rights and innovative sustainable interventions.
            </div>
        </div>
    </div>
</div>