<div class="row">
    <div class="col-lg-3  col-md-3 col-sm-12">
        <h2>RAISE FUNDS</h2>
        <h5>We have raised fund of </h5>
        <span><strong><i class="fa fa-dollar"></i>3,10,345 </strong></span>
        <h5>but for this year we require</h5>
        <span><strong><i class="fa fa-dollar"></i>3,90,000 </strong></span>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" required="required" placeholder="Your Email">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" required="required" placeholder="Donation Amount">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-style-1 btn-lg ">DONATE NOW</button>
            </div>

        </form>


    </div>
    <div class="col-lg-9 col-md-9 col-sm-12">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../assets/imgs/1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/imgs/2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/imgs/3.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
