/* You can add global styles to this file, and also import other style files */

body,
.offcanvas,
.dropdown-menu,
.navbar-toggler,
.card, mat-dialog-content, mat-dialog-actions {
    background-color: #296F56;
    color: white;
}
.accordion, 
.accordion-item, 
.accordion-header, 
.accordion-button, 
.accordion-body {
    background-color: #296F56;
    color: white;
}
a .active {
    color: black;
}

.logoImg {
    border-radius: 30%;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
}

.btn {
    background-color: rgb(161, 156, 156);
    color: white;
}

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
